---
import More from "./more.astro";
---

<style>
  ul {
    display: flex;
    gap: 5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*rotating text */
    transform: rotate(90deg);
    transform-origin: left bottom;
    max-width: 100px;
  }
  li {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  a,
  #six {
    padding: 10px 15px;
    display: block;
    color: black;
    text-decoration: none;
  }

  a:hover {
    color: white;
  }

  #one {
    background-color: #eba0ac;
  }
  #one:hover {
    background-color: #d20f39;
  }

  #two {
    background-color: #fab387;
  }
  #two:hover {
    background-color: #fe640b;
  }

  #three {
    background-color: #f9e2af;
  }
  #three:hover {
    background-color: #df8e1d;
  }

  #four {
    background-color: #a6e3a1;
  }
  #four:hover {
    background-color: #40a02b;
  }

  #five {
    background-color: #89b4fa;
  }
  #five:hover {
    background-color: #1e66f5;
  }
  @media screen and (max-width: 850px) {
    ul {
      transform: rotate(0deg);
      align-items: end;
    }
  }

  @media screen and (max-width: 500px) {
    #two,
    #three,
    #four,
    #five {
      display: none;
    }
  }
</style>
<ul>
  <li id="one"><a href="/">home</a></li>
  <li id="two"><a href="/art/">art</a></li>
  <li id="three"><a href="/comics/">comics</a></li>
  <li id="four"><a href="/misc/">misc</a></li>
  <li id="five"><a href="/about/">about</a></li>
  <More />
</ul>
