@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html {
  display: flex;
  box-sizing: border-box;
  font-family: "Atkinson Hyperlegible", Tahoma, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../assets/bg.jpg");
  background-size: auto;
  background-repeat: repeat;
  box-sizing: border-box;
  color: #3b2f2d;
  display: grid;
  grid-template-areas:
    "header main main main"
    "navbar main main main"
    "left main main main";
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: auto 10%;
  min-width: 80vw;
}

#header {
  align-items: center;
  background-image: url("../assets/header.png");
  background-blend-mode: lighten;
  background-size: 100%;
  background-color: #fcaf2d;
  border: transparent;
  border-radius: 20px;
  grid-area: header;
  height: 200px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

h1 {
  font-size: 1.5em;
  text-align: center;
}

.grid-section {
  background-image: url("./assets/10.jpg");
  background-blend-mode: lighten;
  background-size: 100%;
  background-repeat: repeat;
  background-color: #f1ede4;
  border-radius: 15px;
  padding: 10px 20px;
  border: 2px solid #f89a66;
}

#navbar {
  grid-area: navbar;
  padding: 5px 10%;
}

#navbar h2 {
  font-size: 1.5em;
  text-align: center;
}

#navbar a {
  text-decoration: none;
  color: #5a8f83;
}

#navbar a:hover {
  background-color: #fcaf2d;
  color: #3b2f2d;
}

#navbar ul {
  padding-left: 0;
}

#navbar li {
  list-style: none;
}

#left {
  grid-area: left;
  padding: 5px 10%;
}

#main {
  grid-area: main;
  margin: 20px 0;
}

h2 {
  font-size: 2em;
  text-align: center;
}

.comic-page {
  border: 1px solid grey;
  width: 80%;
  margin: 0 10%;
}

#showComic:hover {
  background-color: transparent;
}

.comicNav {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-top: 3%;
}

.comicNav > a > img {
  height: 50px;
}

.comic-footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 5%;
}

@media only screen and (max-width: 780px) {
  body {
    grid-template-areas:
      "navbar"
      "main"
      "left"
      "footer";
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    margin: 10px;
  }

  .grid-section {
    padding: 10px 20px;
  }

  #header {
    display: none;
  }

  #navbar,
  #footer {
    text-align: center;
    padding: 10px 20px;
  }

  #main {
    padding: 0;
    display: block;
    text-align: center;
  }

  #navbar h2,
  .comic-footer {
    display: none;
  }

  #navbar li {
    display: inline;
  }

  .content {
    margin: 0;
    padding: 0;
  }

  .comic-page {
    width: 95%;
    margin: 0;
  }
}
