@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html {
  font-family: "Atkinson Hyperlegible", Tahoma, sans-serif;
}

body {
  background: repeat url(../assets/bg.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

.content {
  background-color: #fff8e2;
  border: 2px solid #f89a66;
  border-radius: 25px;
  min-width: 250px;
  width: 25vw;
  max-width: 400px;
  min-height: 350px;
  height: 50vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  padding: 25px;
}

h1,
h2,
p,
a {
  margin: 0px;
}

.socials {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.socials a {
  border: 1px solid transparent;
  border-radius: 40px;
  display: flex;
  height: 50px;
  width: 50px;
  margin: 15px 0;
  align-items: center;
  justify-content: center;
}

.socials a:first-child {
  background-color: #f26a3a;
}

.socials a:nth-child(2) {
  background-color: #fcaf2d;
}

.socials a:last-child {
  background-color: #fa9a68;
}

.socials a img {
  height: 25px;
}

.socials a:hover {
  transform: scale(110%);
}

#continue-button {
  border: 1px solid transparent;
  border-radius: 25px;
  background-color: #a5d8c5;
  color: black;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  width: 250px;
}

#continue-button:hover {
  transform: scale(110%);
}
