body {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-image: url("../assets/geometric-pattern.jpg");
  background-size: 350px;
}

.cage {
  background-image: url("../assets/hamstercage.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  max-width: 550px;
  height: 400px;
}
