@font-face {
	font-family: AtkinsonHyperlegible;
	src: url(./atkfont.ttf);
}

@font-face {
	font-family: IndigoSky;
	font-weight: bold;
	src: url("./indigo.otf") format("opentype");
}

body {
	font-family: "AtkinsonHyperlegible", sans-serif;
	padding: 0;
	margin: 0;
}

#pageFooter {
	align-items: center;
	background-color: #fbf4ef;
	color: #2e2e2e;
	display: flex;
	justify-content: center;
	z-index: 0;
}

#mainContent {
	background-color: #fbf4ef;
	color: #2e2e2e;
	/*
  background-size: 25px 25px;
  background-image:
    linear-gradient(to right, #bdf0fc 1px, transparent 1px),
    linear-gradient(to bottom, #bdf0fc 1px, transparent 1px);
  */
  padding: 2em;
  display: block;
}

#mainNav {
	padding: 0;
}

a {
	text-decoration: none;
	color: #ee7962;
}

h1,
h2,
h3,
h4 {
	font-family: "IndigoSky", serif;
	letter-spacing: 1px;
}

h1 {
	border-bottom: 1px solid #725c52;
	color: #726052;
}

/* Nav Menu */
nav {
	align-items: center;
	background-color: #c4c288;
	color: #2e2e2e;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#secondary-nav {
	align-items: center;
	display: flex;
	justify-content: space-around;
	width: 50%;
	padding: 0;
	margin: 0;
}

.nav-links {
	color:#2e2e2e;
}

#header-image {
	width: 250px;
	padding: 0 20px;
	margin: 0;
}

.nav-links:hover {
	background-color: #f4c58f;
}

/* General Comic Page Styling */
.comic-card {
	align-items: center;
	display: flex;
	gap: 10px;
	justify-content: center;
}

.image {
	padding: 0;
}

.image img {
	width: 100%;
	max-width: 200px;
}

.description {
	padding: 0;
	width: 60%;
}

/* About Page Styling */
.social_media {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	padding: 0;
	position: absolute;
	bottom: 10px;
}

.social_media > a {
	text-align: center;
}

.social_media p {
	font-size: smaller;
	margin: 0;
}

.contact-items {
	padding: 0 10px;
}

#contact-submit {
	background-color: #f4c58f;
	border: 1px solid #f4c58f;
	border-radius: 5px;
	display: inline;
	padding: 10px;
	margin: 10px;
}

#contact-submit:hover {
	background-color: #ee7962;
	border: 1px solid #ee7962;
	cursor: -webkit-pointer;
	cursor: pointer;
}

label {
	color: #b4886b;
	font-weight: bold;
	width: 130px;
	float: left;
}

textarea {
	width: 400px;
	height: 5em;
	font-family: Arial, sans-serif;
	font-size: 0.78em;
}

@media all and (max-width: 600px) {
	nav {
		flex-direction: column;
	}
	#secondary-nav {
		width: 90%;
	}
}

@media all and (max-width: 450px) {
	#contact-submit {
		display: block;
	}
	textarea {
		width: 100%;
		height: 5em;
	}

}