@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@font-face {
    font-family: AtkinsonHyperlegible;
    src: url(./font.ttf);
}

* {
    margin: 0;
    font-family: 'AtkinsonHyperlegible', sans-serif;
    font-size: 16px;
}  

body {
    background-color: #24305E;
    color: white;
}

.content {
    margin: 2em 10% 2em 10%;
}

.puzzle {
    align-items: center;
    display: flex;
    flex-direction: column;
}

canvas {
    max-width: 800px;
    max-height: auto;
}

.formatted-link {
    color: #F87C7C;
    text-decoration: none;
}

.formatted-link:hover {
    background-color: #f8e9a1;
    color: #374785;
    max-width: 200px;
}

.info_content {
    background-color: #F87C7C;
    border: transparent;
    border-radius: 10px;
    color: black;
    padding: 10px;
    margin: 20px;
}

footer {
    font-size: 10px;
    height: 2em;
    text-align: center;
    width: 100%;
}

 @media (max-width: 1200px) {
    .illustrations-container {
        -webkit-column-count: 2;
        -webkit-column-gap:   1em;
        -moz-column-count:    2;
        -moz-column-gap:      1em;
        column-count:         2;
        column-gap:           1em;
        margin: 1em;
    }
    .illuContainer {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
    .about {
        margin: 2em ;
    }
  }


@media (max-width: 600px) {
    .illustrations-container {
        -webkit-column-count: 2;
        -webkit-column-gap:   1em;
        -moz-column-count:    2;
        -moz-column-gap:      1em;
        column-count:         2;
        column-gap:           1em;
        margin: 1em;
    }
  }