@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@font-face {

    font-family: AtkinsonHyperlegible;
    
    src: url(./font.ttf);
    
    }

* {
    margin: 0;
    font-family: 'AtkinsonHyperlegible', sans-serif;
    font-size: 16px;
}  

body {
    background-color: #24305E;
    color: #BCD2EE;
}

.nav{
    align-items: center;
    /* background-color: #50335b; */
    display: flex;
    justify-content: center;
    gap: 10%;
    height: 50px;
    width: 100%;
    margin-bottom: 3em;
}

.selected-page {
    color: white;
    text-decoration: none;
    font-size: 21px;
    font-weight: 600;
}

.selected-page:hover {
    color: #F87C7C;
}

.unselected-page {
    color: #a8d0e6;
    text-decoration: none;
    font-size: 14px;
}

.unselected-page:hover {
    color: #f8e9a1;
}

.header {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 150px;
}

.nameHeader {
    color: #BCD2EE;
    font-size:  24px;
    font-weight: 400;
    text-decoration: none;
}

.nameHeader:hover {
    color: white;
}

.content {
    margin: 1em 10%
}

.illu-page { /* Specific styling to center modal */
 display: flex; 
 justify-content: center;
}

.formatted-link {
    color: #F87C7C;
    text-decoration: none;
}

.formatted-link:hover {
    background-color: #f8e9a1;
    color: #374785;
    max-width: 200px;
}

footer {
    font-size: 10px;
    height: 2em;
    text-align: center;
    width: 100%;
}

/*Illustrations Page*/
.illustrations-container {
    -webkit-column-count: 3;
    -webkit-column-gap:   1em;
    -moz-column-count:    3;
    -moz-column-gap:      1em;
    column-count:         3;
    column-gap:           1em;
    line-height: 2em;
    margin: 1em;
}


.clickablepic {
    max-width: 100%;
    cursor: pointer;
    transition: all .5s ease-in-out; 
  }

  .clickablepic:hover {
    transform: scale(1.02);
  }

/* Illustrations Modal*/
.modal {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    position: absolute;
    max-height: 900px;
    max-width: 900px;
    z-index: 2;
  }
  
 .flex {
    width: 100%;
    padding: 0px 50px;
    text-align: center;
    height: 35px;
  }

  .flex p {
    color: white;
  }
  
  .btn-close {
    position:absolute;
    top: -10px;
    right: -50px;
    background-color:transparent;
    border: none;
    color: white;
    font-weight: 900;
  }

  .btn-close:hover {
    cursor: pointer;
    color:#BCD2EE;
  }

  #featureimg {
    max-height: 850px;
    max-width: 850px;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }
  
  .hidden {
    display: none;
  }

/*Comics Home Page*/
 .comics-page {
    display: flex;
    gap: 5em;
 }

 .comics-page a {
    color: #d3d3d3;
    text-decoration: none;
    margin: 1em;
 }

 .comic-panel {
    align-items: center;
    display: flex;
    gap: 1em;
 }

 #hcdArchive {
    /* background-color: #50335b; */
    padding: 1em;
}

#hcdArchive h3 {
    text-align: center;
    padding: .5em;
}

#hcdArchive ul {
    color: #a24752;
    padding: .5em 35%;
}

#sequentialArchive {
    width: 80%;
}



/*About Page */
.socials {
    align-items: center;
    display: flex;
    gap: 1em;
 }

 .about {
    margin: 2em 15em;
 }


/* Individual Comic Pages */
.comicNav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
  }
  
  .comicNav img {
    width: 50px;
    padding-right: 30px;
  }

  .comic-page {
    margin: 10px;
    max-width: 650px;
  }

/* Contact Form */
.contact-form {
    border: #374785 solid 2px;
    border-radius: 5px;
    background-color: #374785;
    width: 70%;
}

.contact-form h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin: 1em;
}

.contact-items {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    margin: 1em;
}

.contact-form div {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1em;
}

#message-space {
    width: 75%;
    height: 50px;
}


 @media (max-width: 1200px) {
    .illustrations-container {
        -webkit-column-count: 2;
        -webkit-column-gap:   1em;
        -moz-column-count:    2;
        -moz-column-gap:      1em;
        column-count:         2;
        column-gap:           1em;
        margin: 1em;
    }
    .illuContainer {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
    .about {
        margin: 2em ;
    }
  }

  @media (max-width: 900px) {
    .comic-page {
        width: 90%;
    }
    .contact-form {
        width: 100%;
    }
  }

@media (max-width: 600px) {
    .illustrations-container {
        -webkit-column-count: 2;
        -webkit-column-gap:   1em;
        -moz-column-count:    2;
        -moz-column-gap:      1em;
        column-count:         2;
        column-gap:           1em;
        margin: 1em;
    }

    .comics-page {
        flex-direction: column;
        justify-content: center;
     }

     #sequentialArchive {
        width: 100%;
    }

    .socials {
        flex-direction: column;
    }

    .contact-form div {
        flex-direction: column;
    }

    #message-space {
        width: 100%;
    }
  }