@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url("../assets/bg1.jpg");
  background-size: 30%;
  background-repeat: repeat;
}

.wrapper {
  display: flex;
  max-width: 900px;
  flex-wrap: wrap;
  font-family: "Atkinson Hyperlegible", Tahoma, sans-serif;
  gap: 2%;
  margin: 0 auto;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 5%;
  width: 100%;
  order: 1;
}

header h1 {
  background-color: #9fc997;
  border-radius: 15px;
  color: #f1ede4;
  padding: 20px;
}

header img {
  max-height: 200px;
}

aside,
main {
  padding: 10px 20px;
  background-color: #fdf0e6;
  border-radius: 15px;
  padding: 10px 20px;
  border: 2px solid #f8ddca;
}

aside {
  width: 23%;
  order: 2;
}

main {
  order: 3;
  width: 75%;
}

footer {
  text-align: center;
  width: 100%;
  order: 4;
}

.sticky {
  position: sticky;

  top: 10px;
}

a {
  color: #52744b;
}

a:hover {
  color: black;
  background-color: #9fc997;
  cursor: pointer;
}

.callout {
  background-color: #f6a9cb;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: small;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  margin: 10px 0;
}

.buttons img {
  width: 78px;
}

.small-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.comic-card {
  border: 1px solid #9a9ccd;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 45%;
  min-width: 300px;
  padding: 10px;
}

.comic-card h2,
.comic-card p:first-of-type {
  text-align: center;
}

.comic-card img {
  border-radius: 15px;
  text-align: center;
  width: 100px;
}

.read-button {
  border-radius: 10px;
  background-color: #f6a9cb;
  color: black;
  padding: 10px;
  display: inline;
}

.comic-card div p:first-of-type {
  display: inline;
}

.read-button:hover {
  color: white;
  background-color: #9a9ccd;
}

.comics-i-read {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.comics-i-read img {
  width: 100%;
  max-width: 150px;
}

.grid-section {
  background-image: url("./assets/10.jpg");
  background-blend-mode: lighten;
  background-size: 100%;
  background-repeat: repeat;
  background-color: #f1ede4;
  border-radius: 15px;
  padding: 10px 0;
  border: 2px solid #f89a66;
  height: 120px;
  overflow-y: hidden;
  flex-wrap: nowrap;
  display: flex;
  gap: 15px;
}

.grid-item {
  border: transparent;
  border-radius: 10px;
  transition: 0.25s;
  filter: contrast(90%);
  height: 100px;
}

.grid-item:hover {
  cursor: pointer;
  filter: contrast(100%);
  transform: scale(1.025);
}

#callout-illu-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 51vh;
  margin: 15px;
}

#callout-illu {
  border: 1px solid #525252;
  max-height: 50vh;
  max-width: 60vw;
}

@media only screen and (max-width: 800px) {
  aside,
  main,
  footer {
    width: 100%;
  }

  main {
    margin-bottom: 10px;
    order: 2;
  }

  .wrapper {
    margin: 0;
  }
  aside {
    order: 3;
  }

  footer {
    order: 4;
  }

  header img {
    display: none;
  }

  #callout-illu {
    max-width: 90vw;
  }
}
