@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --header-image: url("./assets/banner_fall.PNG");
  --background-image: url();
  --text: #201916;
  --background: #eae4d1;
  --primary: #ac4126;
  --secondary: #cc7847;
  --accent: #e99b53;
  --link: #802f1b;
}

* {
  box-sizing: border-box;
} /* causes any box defined in the layout to take padding into account, helps keep things consistent. */

html,
body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

body {
  background: #eae4d1; /*507DBC*/
  background-image: linear-gradient(
      0deg,
      rgba(196, 95, 65, 0.6) 0% 12.5%,
      rgba(218, 158, 73, 0.6) 12.5% 37.5%,
      rgba(204, 120, 71, 0.6) 37.5% 62.5%,
      rgba(218, 158, 73, 0.6) 62.5% 87.5%,
      rgba(196, 95, 65, 0.6) 87.5% 100%
    ),
    linear-gradient(
      90deg,
      rgba(196, 95, 65, 0.6) 0% 12.5%,
      rgba(218, 158, 73, 0.6) 12.5% 37.5%,
      rgba(204, 120, 71, 0.6) 37.5% 62.5%,
      rgba(218, 158, 73, 0.6) 62.5% 87.5%,
      rgba(196, 95, 65, 0.6) 87.5% 100%
    );
  background-size: 88px 88px, 88px 88px, 88px 88px, 88px 88px;
}

a {
  color: var(--link);
  text-decoration: dotted underline;
}

a[href^="http"]:where(:not(:has(img), [href*="domain.tld/"]))::after {
  content: "↗";
}

#wrapper {
  box-sizing: border-box;
  max-width: 900px;
  min-height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

/*Header Style*/
header {
  position: relative;
  margin: 0;
  background: no-repeat top center/cover var(--header-image) #c55133;
}

#header-spacer {
  display: inline-block;
  color: var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
}

nav {
  background-color: var(--primary);
  height: 40px;
}

nav ul {
  margin: 0;
  padding: 0 1em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

nav li {
  display: inline;
}

nav a {
  color: var(--background);
}

header,
footer {
  flex-grow: 0;
  flex-shrink: 0;
}

/* main */
main {
  flex-grow: 1;
  overflow: auto;
  padding: 12px 24px;
  background-color: var(--background);
  color: var(--text);
}

footer {
  background-color: var(--primary);
  color: var(--background);
  text-align: center;
}

/* Special Content Types */

/*Boxes*/
.box {
  background-color: #e99b53a6; /*values for accent*/
  border: 3px solid var(--accent);
  border-radius: 10px;
  padding: 5px 10px;
}

.box hr {
  height: 1px;
  border: 1px dashed var(--primary);
}

/*Columns - either have unequal or equal classes in addition to column class*/
.columns {
  display: grid;
  grid-template-areas: "main aside";
  gap: 12px;
}

.equal {
  grid-template-columns: 1fr 1fr;
}

.unequal {
  grid-template-columns: 3fr 1fr;
}

.columns :first-child {
  grid-area: "main";
}

.columns :last-child {
  grid-area: "aside";
}

.unequal > div:last-of-type {
  border-left: 1px dotted black;
  padding-left: 6px;
}

/* Dropdown Sections */
.dropdown {
  background-color: #e99b5380; /*secondary*/
  border: 3px solid var(--secondary);
  border-radius: 15px;
  padding: 6px;
}

.dropdown-content {
  display: none;
  padding: 6px 12px;
}

.dropdown-show {
  background-color: var(--secondary);
  color: var(--text);
  border-radius: 15px;
  padding: 0 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  border: transparent;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 16px;
  font-weight: 800;
}

.dropdown-show p {
  margin: 0;
  padding: 0;
}

.dropdown-content img {
  width: 100%;
}

/* Card */
.card {
  border: 1px solid #b6b6b6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.card h4,
.card p {
  margin: 0;
  padding: 0.25em 1em;
  flex-grow: 1;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid #b6b6b6;
}

.cardbutton {
  background-color: var(--accent);
  border: none;
  border-radius: 10px;
  color: var(--text);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 1em;
  cursor: pointer;
  flex-grow: 0;
  flex-shrink: 0;
}

/* specifically for long comic page*/
.longcomic-div {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.longcomic-div .card {
  width: 300px;
}

/* illustrations styling */
.gallery {
  padding-top: 1em;
  columns: auto 3;
  text-align: center;
}

.gallery img {
  border: 1px solid black;
  width: 100%;
}

figure {
  display: inline-block;
  margin: 0;
  margin-bottom: 15px;
}

.illustrationHeader {
  background-color: #d18048;
  border-radius: 20px;
  text-align: center;
  margin-top: 2em;
}

/* for buttons & fanlisting formatting */
.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  justify-content: center;
  margin: 10px 0;
}

.buttons img {
  width: 78px;
}

@media only screen and (max-width: 900px) {
  .longcomic-div .card {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .unequal {
    grid-template-areas: "main" "aside";
    grid-template-columns: 1fr;
  }
  .unequal > div:last-of-type {
    border-left: transparent;
    border-top: 1px dotted black;
    padding-left: 0;
  }
}

@media only screen and (max-width: 480px) {
  .equal {
    grid-template-areas: "main" "aside";
    grid-template-columns: 1fr;
  }
}
