/*NOT RESPONSIVE DESIGN YET- CURRENT CSS LOOKS GOOD UNTIL 550PX*/
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap");

body {
	font-family: "Atkinson Hyperlegible", sans-serif;
	background-color: white;
}

.main-content {
	margin: 45px;
}

.inner-content {
	margin: 25px;
}

.columns {
	display: flex;
}

#left {
	width: 70%;
}

#right {
	width: 30%;
}

.navbar {
	align-items: center;
	display: flex;
	gap: 10px;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 20px;
	height: 100%;
}

/* Dropdown Button */
.navlink {
	background-color: white;
	color: black;
	border: 1px solid black;
	border-radius: 15px;
	box-shadow: 5px 5px black;
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
	margin-top: 15px;
	text-decoration: none;
}

/* Dropdown button and dropdown links on hover & focus */
.navlink:hover,
.navlink:focus,
.dropdown-content a:hover {
	background-color: #2980b9;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	border: 1px solid black;
	border-radius: 15px;
	box-shadow: 8px 8px black;
	background-color: white;
	min-width: 160px;
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change border radius on first links */
.dropdown-content :first-child:hover {
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

/* Change border radius on last links */
.dropdown-content :last-child:hover {
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
#show {
	display: block;
}

#footer div {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	justify-content: space-evenly;
	text-align: center;
}
