---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2>About Me</h2>
  <div class="two-p">
    <div>
      <p>
        My name is Valentine. I like to draw, program stuff (like this website),
        and go for long walks/runs. Primarily this website is for those first
        two interests.
      </p>
    </div>
    <div>
      <h3>Other Places to Find Me:</h3>
      <ul>
        <li>
          <a href="https://bsky.app/profile/honey-hamster.bsky.social">Bsky</a>
        </li>
        <li><a href="https://honey-hamster.tumblr.com/">Tumblr</a></li>
      </ul>
      <h3>Used on this Website</h3>
      <ul>
        <li>
          The header is the solar system from <a
            href="https://archive.org/stream/languagecomesali06ritt#page/n1/mode/thumb"
            >Language Comes Alive - 6. 1960</a
          >
          <li>
            The font is <a href="https://www.brailleinstitute.org/freefont/"
              >Atkinson Hyperlegible</a
            >
          </li>
        </li>
      </ul>
    </div>
  </div>
  <!--
  <p>Other things that should be on this page...</p>
  <ul>
    <li>Changelog</li>
    <li>blog link (future)</li>
  </ul>
   -->
</BaseLayout>
