---
import MainLayout from "../layouts/mainLayout.astro";
const { title } = Astro.props;
---

<MainLayout title={title}>
  <Fragment slot="single-page">
    <div id="single-page">
      <slot />
    </div>
  </Fragment>
</MainLayout>
