.writeNav {
  margin: 10px 0;
}

.comicNav {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.comicNav a {
  height: 50px;
}

.comicNav img {
  width: 50px;
}

.writePageClickable img {
  display: block;
  max-width: 800px;
  width: 99%;
  margin: 0 auto;
}
