@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap");

body {
  margin: 0;
  font-family: "Atkinson Hyperlegible", Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
