---
import MainLayout from "../layouts/mainLayout.astro";
import ComicAbout from "../components/comic-about.astro";
---

<style>
  #changelog {
    border: 1px solid black;
    height: 250px;
    overflow-y: scroll;
    font-size: 12px;
  }
  #changelog > h3 {
    padding: 5px;
    margin: 0;
    background-color: #eebebe;
  }
  #changelog strong {
    color: #4b3b3c;
  }
  #changelog > p {
    padding: 0 5px;
  }
  #changelog > hr {
    border: none;
    border-top: 2px dotted black;
    margin-top: 0;
  }

  @media screen and (max-width: 850px) {
    #changelog {
      height: 95px;
    }
  }
</style>
<!--
    still need to:  set up blog
                    hide mobile 'show more' if user clicks outside menu
    -->
<MainLayout>
  <Fragment slot="left">
    <h2 style="text-align: center;">welcome to my website!</h2>
  </Fragment>
  <Fragment slot="right">
    <h2>check out my most recent comic!</h2>
    <ComicAbout
      title="Cursed Relics"
      date="10-01-2024 to 03-17-2025"
      img="cursedrelics/1.webp"
      blurb=`Originally created as part of Andaluza's yearly 'Cursed Relics' drawing challenge, it now has a life of it's own. Follow Bryony and Monilestriel Monilestriel's body as they explore the Florian ruins and the artifacts within. `
      link="/comics/cursedrelics"
    />
    <div id="changelog">
      <h3>Changelog</h3>
      <hr />
      <p><strong>02-19-2026</strong></p>
      <p>totally new look. in Astro now</p>
      <hr />
      <p><strong>06-21-2025</strong></p>
      <p>Updated monthly message and added some resources to webhelp page.</p>
      <hr />
      <p><strong>05-18-2025</strong></p>
      <p>Updated illustration page and added smooth scrolling to CSS</p>
    </div>
  </Fragment>
</MainLayout>
