---
import MainLayout from "../layouts/mainLayout.astro";
---

<style>
  div {
    border: 1px solid black;
    height: 250px;
    overflow-y: scroll;
    font-size: 12px;
    margin-top: 20px;
  }
  div > h3 {
    margin: 5px;
  }
  div > p {
    padding: 0 5px;
  }
  div > hr {
    border-top: 1px dotted black;
  }
</style>
<MainLayout>
  <Fragment slot="left">
    <h2>welcome to my website!</h2>
    <p>
      I've been messing around with updating the apperance of this website and
      ran into a "problem". Basically, this website has a million pages and
      updating the styling on all of them was super annoying.
    </p>
    <p>
      My solution was to change from a "vanilla" HTML/CSS/JS site to an Astro
      site! Primarily, the trickiness of this involved rewriting the code for my
      comics- which was based off <a href="https://rarebit.neocities.org/"
        >Rarebit</a
      >. And then I spend a tremendous about of time figuring out how to make a
      fun website that's functional on mobile.
    </p>
    <p>
      I'm super happy with how this came out! The switch to Astro will make it a
      lot more fun for me to play more with coding (like my <a
        href="/misc/pkmnmatch">Pokemon Match</a
      >) app. And it will make it a lot easier for me to make huge changes to my
      website.
    </p>
  </Fragment>
  <Fragment slot="right">
    <h2 style=" color: #3d1b28; text-align: center;">🚧 Still To Do 🚧</h2>
    <input type="checkbox" id="hooked" name="hooked" checked />
    <label for="hooked">
      hook comics up (i have to rewrite this myself...)
    </label>
    <br />
    <input type="checkbox" id="blog" name="blog" />
    <label for="blog">set up blog</label>
    <br />
    <input type="checkbox" id="dropdown" name="dropdown" />
    <label for="dropdown">
      hide 'show more' dropdown if user clicks outside
    </label>
    <br />
    <input type="checkbox" id="notebook" name="notebook" checked />
    <label for="notebook">
      edit mobile bg so it looks less goofy on long pages
    </label>
    <div>
      <h3>Changelog</h3>
      <hr />
      <p><strong>01-09-2026</strong></p>
      <p>totally new look. in Astro now</p>
      <hr />
      <p><strong>09-28-2025</strong></p>
      <p>New look!</p>
      <hr />
      <p><strong>06-21-2025</strong></p>
      <p>Updated monthly message and added some resources to webhelp page.</p>
      <hr />
      <p><strong>05-18-2025</strong></p>
      <p>Updated illustration page and added smooth scrolling to CSS</p>
    </div>
  </Fragment>
</MainLayout>
