---
import MainLayout from "../layouts/mainLayout.astro";
---

<style>
  hr {
    border: 0px;
    border-top: 1px dashed black;
  }
</style>
<MainLayout title="Misc">
  <Fragment slot="left">
    <h2>Blog</h2>
    <p>under construction! eventually, there will be one</p>
    <h2>Other Pages on This Site</h2>
    <ul>
      <li><a href="/misc/webhelp">webhelp</a></li>
    </ul>
    <h2>The Site is in Astro now?</h2>
    <p>
      I've been messing around with updating the apperance of this website and
      ran into a "problem". Basically, this website has a million pages and
      updating the styling on all of them was super annoying.
    </p>
    <p>
      My solution was to change from a "vanilla" HTML/CSS/JS site to an Astro
      site! Primarily, the trickiness of this involved rewriting the code for my
      comics- which was based off <a href="https://rarebit.neocities.org/"
        >Rarebit</a
      >. And then I spend a tremendous about of time figuring out how to make a
      fun website that's functional on mobile.
    </p>
    <p>
      I'm super happy with how this came out! The switch to Astro will make it a
      lot more fun for me to play more with coding (like my <a
        href="/misc/pkmnmatch">Pokemon Match</a
      >) app. And it will make it a lot easier for me to make huge changes to my
      website.
    </p>
  </Fragment>
  <Fragment slot="right">
    <h2>coding projects</h2>
    <a href="/misc/pkmnmatch"><h3>Pokemon Match</h3></a>
    <p>
      Little game (?) that shows you which pokemon are closest to the entered
      height and weight. Uses the PokeAPI.
    </p>
    <hr />
    <h3>HTML Portfolio Template</h3>
    <p>
      HTML/CSS template I made to help less technical artists put together their
      own portfolio pages. Can be found on my <a
        href="https://h0neymice.itch.io/html-portfolio-template"
      >
        itch.io
      </a> (I figured itch.io was the least scary way to ask someone to download random
      files.)
    </p>
    <p>
      A live demo can be found <a href="https://html-portfolio.neocities.org/"
        >here.</a
      >
    </p>
  </Fragment>
</MainLayout>
