---
import SinglecolumnLayout from "../layouts/singlecolumnLayout.astro";
---

<SinglecolumnLayout>
  <h2>Hello</h2>
  <p>this will be used for comics, mostly</p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium fuga
    impedit quibusdam facere ipsa soluta reiciendis dolor quidem in, sunt
    eligendi nobis suscipit officiis optio eius distinctio laboriosam hic
    dignissimos!
  </p>
</SinglecolumnLayout>
